*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}
#navbar-div{
    width: 100%;
    height: 100px;
    background-color: rgb(239, 89, 89);
}
.navbar{
    font-family: arial;
    margin-left: 20px;
   
}
.input-group{
    position: relative;
    display: flex;
    padding: 0px;
    margin-left: 900px;
    margin-top: -50px;
   
    width: 150px;
    height: 25px;
    
    
   
}
.input-field{
 
margin: 0 10px;
    border-radius: 5px;
  outline: none;
   color: black;
    font-family: arial;
    font-weight: bold;
    padding: 15px;
    }
    button{
        background-color: #f7f6f8;
      width: 100%;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
     }
.submit-btn{
    width: auto;
}  
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(134, 134, 134);
    margin-top: -650px;
} 
ul{
    margin: 0px;
    padding: 15px;
    padding-right: 10px;
}
ul{
    margin-top: -50px;
    position: center;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 80px;
    position: center;
    background-color: rgb(134, 133, 133);
    font-family: arial;
}
 .menu ul li a{
   text-decoration: none;
   color: rgb(0, 0, 0); 
   text-transform: uppercase;
 }
.menu ul li ::after{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.menu ul li :hover::after{
   color: rgb(0, 0, 0);
}
 .gif{
    width: 50%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
   
 }  
.media{
    width: 100%;
    height: 300px;
   
}
.select-1{
    width: 20%;
    height: 300px;
    margin-left: 1000px;
    margin-top: -280px;
    background-color: rgb(135, 135, 135);
    
}
.search{
    width: 120px;
}
select{
    margin-left: 550px;
    margin-right: -100px;
    width: 200px;
    border-radius: 5px;
    margin: 10px -5px;
    padding: 0px;
}
span{
    margin-left: -250px;
}
h3{
    font-family: arial;
    margin-left: 30px;
}
.block{
    width: 25%;
    height: 300px;
    background-color: rgb(135, 135, 135);
    margin-left: -70px;
    margin-top: -273.5px;
}
.process{
 width: 600px;
 height: 200px;
 background-color: rgb(239, 89, 89);
 margin-left: -970px;
}
.content{
    font-family: arial;
    margin-left: 20px;
    font-weight: lighter;
    padding: 0%;
}
h5{
    font-size: 14px;
}
h6{
    margin-top: -150px;
    font-size: 18px;
    font-family: arial;
}
.searchbtn{
    width: 120px;
    margin-top: -21px;
    margin-left: 350px;
}
input{
    width: 320px;
}
.feedback{
    margin-top: 75px;
    width: 200px;
    height: 100px;
    margin-left: 100px;
    background-color: rgb(239, 89, 89);
    font-size: 20px;
}